@import "variables";

.fade-enter-active,
.fade-leave-active {
    transition: opacity $transiton-timing;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
    transition: $transiton-timing;
}

.slide-fade-leave-active {
    transition: $transiton-timing;
}

.slide-fade-enter-from,
.slide-fade-leave-to

/* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX($baseNumber * 2 + px);
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: $transiton-timing;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.slide-from-bottom-enter-from,
.slide-from-bottom-leave-to {
    opacity: 0;
}

.slide-from-bottom-enter-from,
.slide-from-bottom-leave-to {
    .modal,
    nav,
    :first-child {
        -webkit-transform: translateY(500px);
        transform: translateY(500px);
    }
}

.slide-from-bottom-enter-active,
.slide-from-bottom-leave-active {
    transition: all $transiton-timing;

    .modal,
    nav,
    :first-child {
        transition: all $transiton-timing;
    }
}

.shake {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.get-notified:hover,
.get-notified.active {
    .bell-icon svg {
        animation: rotate-shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        backface-visibility: hidden;
        transform-origin: 40% top;
    }
}

.get-notified.active > .bell-icon {
    animation: jump 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    backface-visibility: hidden;
}

@keyframes rotate-shake {
    10%,
    90% {
        transform: rotate(-3deg);
    }

    20%,
    80% {
        transform: rotate(5deg);
    }

    30%,
    50%,
    70% {
        transform: rotate(-7deg);
    }

    40%,
    60% {
        transform: rotate(7deg);
    }
}

@keyframes jump {
    50% {
        transform: translateY(-15px);
    }
}

.list-enter-active,
.list-leave-active {
    transition: $transiton-timing;
}
.list-enter-from,
.list-leave-to {
    opacity: 0;
    transform: translateY($baseNumber * 4 + px);
}
